
.container{
   display: flex;
   flex-direction:row;
   width:95%;
   height:600px;
   background-color:yellow;
   padding:10px;
   margin:20px;
}
.innercontainer{
  display: flex;
  flex-direction:column;
  width:50%;
  height:600px;
}
.box1{
  width:100px;
  height:100px;
  background-color:green;
  border-radius: 5px;
  margin:10px;
}

.box{
    width:600px;
    height:300px;
    border-style: solid;
    border-width: 10px;
    border-color: orangered;
    border-radius: 5px;
    padding:50px;
    margin:10px;
}